<div class="row">
<%= render partial: "courses/doctors/menu", locals: { menu: @MENU_OPTIONS[:last_updates] } %>

  <div class="col-xs-6 col-sm-9">
    <%= render "courses/doctors/tabs/last_updates" %>
  </div>
</div>
