<!DOCTYPE HTML>
<html>
  <%= form_for(:session, url: sessions_path) do |f| %>
    
    <input type="text" class="form-control input-lg" placeholder="Email", class: "input-group" >
    <input type="password" class="form-control input-lg" placeholder="Senha", class: "input-goup">
    <button class="btn btn-primary btn-lg btn-block">Entrar</button>

  <% end %>

</html>


  