<header class="navbar navbar-inverse">
  <div class="container">
    <h1>SOMA</h1>
    <nav class="pull-right">
      <% if(signed_in?) %>
        <%= link_to "Sair", signout_path, method: "delete" %>
      <% end %>
    </nav>
  </div>
</header>
