<div class="row">
  <div class="col-xs-6 col-sm-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation" class="active"><%= link_to "Material disponivel", "#" %></li>
      <li role="presentation"><%= link_to "Banco de Questões", "#" %></li>
      <li role="presentation"><%= link_to "Videos", "#" %></li>
    </ul>
  </div>

  <div class="col-xs-6 col-sm-9">
  </div>

