<div class="row">
  <%= render partial: "courses/students/menu", locals: { menu: @MENU_OPTIONS[:documents] } %>

  <div class="col-xs-6 col-sm-9">

  <div>
    <ul class="fa-ul list-group">
      <% current_course.documents.all.each do |doc| %>
        <li class="list-group-item">
          <%= image_tag doc.document.url(:small) %>
          <%= link_to doc.get_readable_name, doc.document.url, target: "_blank" %>
          <%= doc.description %>
        </li>
        <br>
      <% end %>
    </ul>
  </div>
</div>
