<% if(user.activated?) %>
  <span class="glyphicon glyphicon-ok-sign"></span>
<% else %>
  <span class="glyphicon glyphicon-minus-sign"></span>
<% end %>
  <%= link_to user.name, user %>
  <% if(current_user.admin? and !current_user?(user)) %>
    <% if(user.activated?) %>
      | <%= link_to "Desativar!", deactivate_path(user) , data: { confirm: "Tem certeza?" } %>
    <% else %>
      | <%= link_to "Ativar!", activate_path(user) , data: { confirm: "Tem certeza?" } %>
    <% end %> 
  <% end %>
  <br>
