<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <table class="container fluid-container">
      <h1> Painel de Controle </h1>
      <h3>Ative ou desative um usuário.</h3>
      <div class="input-group">
        <%= form_tag(users_path, method: "get") do %>
          <%= text_field_tag "search", "", {class: "form-control", placeholder: "Digite uma parte do nome desejado"} %>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
          <% end %>
        </div><!-- /input-group -->
       <br />

      <ul class="users">
        <%= render @users %>
      </ul>

    </table>
 </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

