<div class="row">
    <aside class="span12">
      <section>
       <h1>
          <%= "#{@user.name}\n" %>
        </h1>
        <h2>
          <% if @user.admin? %>
            <%= render "users/admin/show" %>
          <% end %>
        </h2>
      </section>
    </aside>
  </div>


