<div class="row">
  <div class="col-xs-6 col-sm-2">
    <%= link_to "#{@user.name}\n" %>
  </div>

  <div class="col-xs-6 col-sm-10">
    <%= "Meus Cursos" %>
    
    <br><br>
    
    <%= render partial: "courses/students/index", locals: { courses: @user.courses } %>
  </div> 
</div>

